/node_modules
/packages/admin/node_modules
/packages/admin/vite.config.ts
/packages/admin/vite.config.js
/public
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
