@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@layer components {
    .top-files{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
